kestra/main/ingestion2.yml
id: ingestion2
namespace: prod
description: prod DB sync to Snowflake using cData/Fivetran sync or one of Kestra's DB plugins

tasks:
  - id: extract
    type: io.kestra.plugin.fs.http.Download
    uri: https://raw.githubusercontent.com/kestra-io/examples/main/datasets/employees00.csv

  - id: loadToInternalStage
    type: io.kestra.plugin.jdbc.snowflake.Upload
    from: "{{outputs.extract.uri}}"
    fileName: employees00.csv
    prefix: raw
    stageName: "@kestra.public.%employees"
    compress: true

  - id: loadFromStageToTable
    type: io.kestra.plugin.jdbc.snowflake.Query
    sql: |
      COPY INTO KESTRA.PUBLIC.EMPLOYEES
      FROM @kestra.public.%employees
      FILE_FORMAT = (type = csv field_optionally_enclosed_by='"' skip_header = 1)
      PATTERN = '.*employees0[0-9].csv.gz'
      ON_ERROR = 'skip_file';

taskDefaults:
  - type: io.kestra.plugin.jdbc.snowflake.Query
    values:
      url: jdbc:snowflake://fauphkj-vf53516.snowflakecomputing.com?warehouse=DEMO
      username: ANNA
      password: "{{secret('SNOWFLAKE_PASSWORD')}}"

  - type: io.kestra.plugin.jdbc.snowflake.Upload
    values:
      url: jdbc:snowflake://fauphkj-vf53516.snowflakecomputing.com?warehouse=DEMO
      username: ANNA
      password: "{{secret('SNOWFLAKE_PASSWORD')}}"
